*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans JP', sans-serif;
} 
.header{
	background-image: url(1.jpg);
	height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;

}
.banner{
	display: flex;
	padding: 2% 6% ;
	justify-content: space-between;
	align-items: center;
	font-weight: lighter;

}
.banner p{
	font-size: 14px;
}
.banner1{
	display: flex;
	flex-direction:row;
	margin-top: 90px;
	margin-left: 70px;
	justify-content:space-between;
	align-items: center;
}
.banner1 h1{
	font-size: 40px;
	font-weight: lighter;

}
.search{
	display: flex;
	flex-direction: row;
	padding: 1% 6%;
	justify-content: start;
	align-items: lighter;

}
.search input[type=text]{
  width: 17%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: #ffa500;
  border: none;
  color: white;
  padding: 1px 12px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
  width: 10%;
}

.section1{
	width: 80%;
	padding-left: 10%;
	margin: :auto;
	text-align: center;
	padding-top: 5%;
}
.section1 h1{
	font-weight: lighter;
	font-size: 32px;
	color: #444;
}
.section1 h4{
	color: #abb;
}
.section1 p{
	color: #abb;
	font-size: 18px;
	font-weight: 550;
	line-height: 22px;
	padding: 10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  color: #777;
}
.col{
	flex-basis: 31%;
  margin-bottom: 5%;
  padding: 20px 12px;
}
.col p{
	font-size: 12px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.section2 {
	width:70%;
	height: auto;
  color: #777;
  margin: auto;

}
.send{
	margin-left: 35%;
	margin-right: all;

}
.send input[type=text]{
	padding-left: 50%;
  width: 35%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.send button{
	background-color: #ffa500;
  border: none;
  color: white;
  padding: 10px 0px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 0px;
  cursor: pointer;
  width: 20%;
  position: relative;
}
.circle{
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circle img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.fas {
	color: #5ae;
}
.fab{
	color: #5ae;
}
.contact{
	width: 70%;
	padding-left: 20%;
	margin: :auto;
	text-align: center;
	padding-top: 5%;
	color: #777;
}
.contact input[type =text]{
	width: 90%;
	padding: 12px;
	margin : 10px 10px;
	resize: vertical;
	text-align: left;
	color: #e4e4e4;

}
.contact input[type=message],textarea{
	width: 90%;
	padding: 12px;
	margin : 10px 10px;
	resize: vertical;
	color: #e4e4e4;

}
.contact h1{
	font-size: 32;
	font-weight: lighter;
}
.contact button{
	background-color: #ffa500;
  border: none;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 180px;
  height: 42px;

}

